body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.halp-width{
    width: 50%;
    padding-left: 5%;
}
.halp-width img{
    width: 65%;
}
.link{
    text-decoration: none;
    background-image: -moz-repeating-linear-gradient(45deg, lightsalmon,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.banner{
    background-image: url(banner1.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(side1.png);
    background-repeat: no-repeat;
    background-position: right;
}
.shadow-box{
    height: 400px;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
.experience-area{
    background-image: url(side2.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-dev-exp{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#exp-dev-web{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, rgb(70, 54, 25));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}